<i class="wi wi-stars display-4 text-primary"></i>
<span class="display-4"> Welcome to the Weather App </span>
<i class="wi wi-stars display-4 text-primary"></i>

<p class="text-danger"> <em>by o.be.ka</em> </p>