* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}
#container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
}

form,
p {
  margin: 1.2rem auto;
}

input {
  transition: all 500ms ease-in-out;
  width: 30rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.603);
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

input:hover {
  transform: scale(1.5);
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  font-size: 1.4rem;
}

button {
  width: 8rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin: auto;
  font-size: 2rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.103);
}

form button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

p {
  font-size: 2rem;
}
