#content {
  background-color: rgb(2, 2, 26);
  color: white;
  font-size: 2rem;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
