<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackYourTemperature III</title>
    <style>
        .contenar {
            width: 70%;
            margin: 50px auto auto auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
        }

        h1 {
            color: brown;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>