<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{{> header }}
<div class="container" >
  
<div class="text-center " style="margin-top: 10%;">
  <div class="card w-75 bg-danger">
  <div class="card-body">
    <h5 class="card-title text-white">ERROR</h5>
    <p class="card-text text-white">{{weatherText}}</p>
  </div>
</div>
  </div>
  </div>
{{> footer }}