
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <form action="/weather" method="POST">
    <input type="text" name="cityName">
    <button type="submit">Submit</button>
  </form>
  {{!-- {{{ body }}} --}}
</body>
</html>