<form action="/weather" method="post">
  City name:<br>
  <input type="text" name="cityName" placeholder="write the name of the city"><br>
  <button type="submit" class="button">Submit</button>
</form>