<div class="contenar">
    <form action="/weather" method="POST">
        <label for="cityName">Write City Name</label>
        <input type="text" name="cityName">
        <input type="submit" value="send">
        <p>
            <h1> {{weatherTxt}}</h1>
        </p>
    </form>
</div>