{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "standard",
  "rules": {
    "indent": [
      "error",
      4
    ],
    "brace-style": [
      "warn",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "curly": [
      "off"
    ],
    "generator-star-spacing": [
      "warn",
      {
        "after": true,
        "before": false
      }
    ],
    "key-spacing": [
      "off"
    ],
    "max-len": [
      "warn",
      80
    ],
    "no-multi-spaces": [
      "off"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "warn",
      "never"
    ],
    "standard/array-bracket-even-spacing": [
      "off"
    ],
    "standard/object-curly-even-spacing": [
      "off"
    ],
    "template-tag-spacing": [
      "off"
    ]
  }
}